.team {
  display: flex;

  background-color: var(--buttom-bg-color);
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;

  background-color: var(--accessorial-text-color);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.card__img {
  width: 270px;
  height: 260px;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  color: var(--paragraph-text-color);
}
